localhost {
  handle /todolist/* {
    reverse_proxy todolistservice:8080
  }

  handle /identity/* {
    reverse_proxy identityservice:8081
  }

  handle_path /pgadmin/* {
    reverse_proxy pgadmin:80
  }

  reverse_proxy / {
    to todolistclient:4000
  }
}